*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    
}

body{
    overflow-x: hidden;

}

ul{
    list-style: none;
}

.buttons{
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 3rem;
    cursor: pointer;
    text-decoration: none;
    min-width: auto;
    color: #bbb;
    background-color: transparent;
    font-weight: 600;
    font-size: 1rem;
    border: 1px solid #bbb;
}
.buttons:hover{
    color: #fff;
    border: 1px solid #fff;
}

.site-header{
    background-image: url("../img/background-desktop.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 80vh;
    width: 100%;
}

.site-header{
    min-height: 80vh;
    width: 100%;
    background:
    linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
    url("../img/background-desktop.webp");
    background-size: cover;
    background-position: center;

}
.site-header h1{
    display: flex;
    justify-content: start;
    align-items: center;
    color: #fff;
    text-align: initial;
    padding: 2rem clamp(11rem, 5vw, 6rem);
    font-size: 5rem;
    letter-spacing: -.14rem;
    line-height: 5rem;
    margin-left: unset;
    margin-right: unset;
    max-width: 52rem;
    font-size: 5rem;
}

.header-contant{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 80px;
    padding: 0 40px;
    background-color: red;
}

header ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px
}